.queekus-card-image
{
    margin: 0 auto;
    width: 10rem;
    height: auto;
}

.card
{
    margin: 10px auto;
    padding: 20px;
    width: 20rem;

    text-decoration: none;
}

.april_fools
{
    transform: rotate(180deg);
}

/* customizable snowflake styling */
.snowflake
{
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

.sticker
{
    --sticker-bgcolor: var(--bs-dark-text-emphasis);
    --sticker-text-color: rgb(var(--bs-tertiary-bg-rgb));
    --sticker-color-fold-bg: var(--bs-info-bg-subtle);
    text-decoration: none;
}

@media (min-width: 0px) {
    .project_thumbnail
    {
        width: 73px;
        height: 73px;
    }

    .project_thumbnail_icon
    {
        font-size: 15px;
    }
}

@media (min-width: 600px) {
    .project_thumbnail
    {
        width: 150px;
        height: 150px;
    }

    .project_thumbnail_icon
    {
        font-size: 20px;
    }
}

.project_thumbnail
{
    position:relative;
    background-size: cover;
    cursor: pointer;
}

.project_image
{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.project-link
{
    text-decoration: underline !important;
}

.project_thumbnail_icon
{
    position:absolute;
    color: var(--bs-primary-bg-subtle);
    bottom:3px;
    right:3px;
}

.reset_width
{
    width: unset !important;
}

.list-group-item
{
    border-radius: unset !important;
}

.list-group-item:first-child {
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
}
.list-group-item:last-child {
    border-bottom-right-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
}

cite
{
    vertical-align: super;
    font-size: 75%;
    cursor: pointer;
    color: #0d6efd;
}

@keyframes citeHighlight {
  from {background-color: var(--bs-info-bg-subtle);}
  to {background-color: unset;}
}

.cite-highlight
{
    animation-name: citeHighlight;
    animation-duration: 5s;
}