---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ page.collection | capitalize }}:</h1>
            {%- if page.rss %}
            <p>subscribe <a href="{{ page.rss }}">via RSS</a></p>
            {%- endif %}
            {{ content }}
        </div>
        {%- assign featured = site[page.collection] | where: "title", page.featured | first %}
        {%- if featured %}
        <div class="col-md-6">
            <a
                href="{{ featured.url }}" class="collection_item card p-0 reset_width"
                data-s="{{featured.pub_date | date_to_xmlschema}}"
            >
                <div class="card-header"><h3>Featured</h3></div>
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ featured.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Tags: {{ featured.tags | join: ", " }}</h6>
                            <p class="card-text">{{ featured.abstract }}</p>
                            <p class="card-text">{{ featured.content | strip_html | truncate: 100 }}...</p>
                        </div>
                    </div>
                    <div class="col-md-2 d-none d-md-block d-lg-block d-xl-block">
                        {% assign img_parts = featured.photos[0] | split: "::" %}
                        <img src="{{ img_parts | first }}" class="img-fluid" alt="{{ img_parts[1] }}">
                    </div>
                </div>
            </a>
        </div>
        {%- endif %}
    </div>
    <div class="list-group">
    {% for entry in site[page.collection] %}
        {%- if entry.permalink contains "index" %} {% continue %} {% endif %}
        {%- if entry.permalink contains "rss" %} {% continue %} {% endif %}
        <a
            href="{{ entry.url }}"
            class="collection_item card reset_width list-group-item list-group-item-action m-0"
            data-s="{{entry.pub_date | date_to_xmlschema}}"
        >
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ entry.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Tags: {{ entry.tags | join: ", " }}</h6>
                        <p class="card-text">{{ entry.abstract }}</p>
                        <p class="card-text">{{ entry.content | strip_html | truncate: 100 }}</p>
                    </div>
                </div>
                <div class="col-md-2 d-none d-md-block d-lg-block d-xl-block">
                    {% assign img_parts = entry.photos[0] | split: "::" %}
                    <img src="{{ img_parts | first }}" class="img-fluid" alt="{{ img_parts[1] }}">
                </div>
            </div>
        </a>
    {%- endfor %}
    </div>
</div>
<script>
    window.addEventListener("load", (event) => { timehide("collection_item") });
</script>