{%- assign sub = page.permalink | split: "/" -%}
{%- assign did_host = site.url | replace: "https", "http" | replace: "http://", "" -%}
{%- if sub[1] == ".well-known" -%}
  {%- assign sub_parts = "" -%}
{%- else -%}
  {%- assign sub_parts = page.permalink | replace: "/", ":" | replace: ":did.json", "" -%}
{%- endif -%}
{%- capture nowunix -%}{{'now' | date: '%s'}}{%- endcapture -%}
{
  "@context": [
    "https://www.w3.org/ns/did/v1",
    "https://w3id.org/security/suites/jws-2020/v1"
  ],
  "id": "did:web:{{ did_host }}{{ sub_parts }}",
{%- for method_type_pair in page.methods -%}
{% if method_type_pair[1].length != 0 %}
  "{{ method_type_pair[0] }}": [
    {%- for jwk_id in method_type_pair[1] -%}
    {%- assign jwk_id_raw = jwk_id | replace: "#", "" -%}
    {% if site.data.jwks[jwk_id_raw].expires %}
    {% capture expires %}{{site.data.jwks[jwk_id_raw].expires | date: '%s'}}{% endcapture %}
    {% else %}
    {% capture expires %}{{'now' | date: '%s'}}{% endcapture %}
    {%- endif -%}
    {% if site.data.jwks[jwk_id] != nil %}
    {
      "id": "did:web:{{ did_host }}{{ sub_parts }}#{{ jwk_id }}",
      "type": "{{ site.data.jwks[jwk_id].type }}",
      "controller": "did:web:{{ did_host }}{{ sub_parts }}",
      "publicKeyJwk": {{ site.data.jwks[jwk_id].publicKeyJwk | jsonify }}{% if site.data.jwks[jwk_id].expires != nil %},
      "expires": "{{ site.data.jwks[jwk_id].expires }}"{% endif %}{% if site.data.jwks[jwk_id].revoked != nil %},
      "revoked": "{{ site.data.jwks[jwk_id].revoked }}"{% endif %}
    }{%- unless forloop.last -%},{% endunless %}
    {%- else -%}
    {% if site.data.jwks[jwk_id_raw].revoked == nil and expires >= nowunix %}
    "did:web:{{ did_host }}{{ sub_parts }}{{ jwk_id }}"{%- unless forloop.last -%},{%- endunless -%}
    {%- endif -%}
    {%- endif -%}{% endfor %}
  ]{% if forloop.last != true or page.services.size > 0 %},{% endif %}
{%- endif -%}
{%- endfor -%}
{% if page.services.size > 0 %}
  "service": [
{%- for service in page.services %}
    {
      "id": "did:web:{{ did_host }}{{ sub_parts }}{{ service.id }}",
      "type": "{{ service.type }}",
      "serviceEndpoint": {{ service.serviceEndpoint | jsonify }}
    }{% unless forloop.last %},{% endunless -%}
{% endfor %}
  ]
{%- endif %}
}