{
  "@context": [
    "https://www.w3.org/ns/did/v1",
    "https://w3id.org/security/suites/jws-2020/v1"
  ],
  "id": "did:web:{{ page.did_web_identifier }}",
{%- if page.verificationMethod.length != 0 -%}
  "verificationMethod": [
  {% for jwk in page.verificationMethod %}
    {
      "id": "did:web:{{ page.did_web_identifier }}#{{ jwk.kid }}",
      "type": "JsonWebKey2020",
      "controller": "did:web:{{ page.did_web_identifier }}",
      "publicKeyJwk": {{ page.jwks[jwk.kid] | jsonify }}
    }{% if forloop.last != true %},{% endif %}
  {% endfor %}
  ]
{% endif %}
}