---
layout: default
---
<div class="jumbotron">
    <div class="row">
        <div class="col">
            <h1 class="display-4">{{page.title}}</h1>
            <p class="lead">{{ page.abstract }}</p>
        </div>
        {% if page.photos %}
        <div class="col">
            <div class="row">
                {% for image in page.photos %}
                <div class="col">
                    <div
                        class="project_thumbnail"
                        style="background-image: url('{{ image | split: "::" | first }}')"
                        onclick="OpenImageModal('{{ forloop.index0 }}')"
                    >
                        <i class="fa fa-magnifying-glass project_thumbnail_icon"></i>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
&nbsp;
{{ content }}
&nbsp;
{% if page.links %}
<h5>Links</h5>
<ul class="list-group list-group-flush">
{% for link in page.links %}
  <a href="{{link}}" class="list-group-item list-group-item-action project-link">{{link}}</a>
{% endfor %}
</ul>
{% endif %}

<div class="modal fade" id="image_preview_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{page.title}} Photos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="photocarousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% for image in page.photos %}
                        <div id="photo_{{ forloop.index0 }}" class="carousel-item">
                            {% assign img_parts = image | split: "::" %}
                            <img src="{{ img_parts | first }}" class="d-block w-100" alt="{{ img_parts[1] }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#photocarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#photocarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function OpenImageModal(index)
    {
        for(let i = 0; i < {{ page.photos.size }}; i++) // Error expected, due to liquid templating
            document.getElementById("photo_" + i).classList.remove("active");

        document.getElementById("photo_" + index).classList.add("active");
        new bootstrap.Modal('#image_preview_modal').show();
    }
</script>